<style>
  .pay_inner{
    padding: 50px 0px 40px;
    text-align: center;
  }
  .pay_icons p{
    color: #000;
    text-align: center;
    font-family: 'Martel Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .pay_inner .bottom_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .pay_inner .bottom_nav li a{
    color: #000;
    text-align: center;
    font-family: 'Martel Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 29.44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0rem;
  }
  .pay_inner .bottom_nav li{
    list-style: none;
  }
</style>



<div class="pay_main">
  <div class="page-width">
    <div class="pay_inner">
      {% if section.settings.pay_icon %}
      <div class="pay_icons">
        <img src="https://cdn.shopify.com/s/files/1/0660/6399/1027/files/Group_7.png?v=1710707822">
        <p>{{ section.settings.headline }}</p>
      </div>
        {% endif %}
       <div class="bottom_nav">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "PS Payment cards",
    "settings": [
       {
        "type": "checkbox",
        "id": "pay_icon",
        "label": "Payment Icons",
        "default": true
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Text",
        "default": "Charges will appear as PureSource Beverage."
      },
       {
        "type": "link_list",
        "id": "menu",
        "label": "Privacy Menu"
      }
    ],
    "presets":[
      {
        "name":"PS Payment cards"
      }
    ]
  }
{% endschema %}