.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  color: #000;
  font-family: 'Martel Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  color: #000;
  font-family: "Town 50 Chic";
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 25.6px;
  letter-spacing: 3.584px;
  text-transform: uppercase;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
